<div class="jumbotron">
    <div class="container">
        <h1>Forgot Password</h1>
    </div>
</div>
<div id="divContainer" class="container">
    <form>
        <h4>Enter your user name here</h4>
        <input type="text" placeholder="Enter Username" name="uname" required ng-model="fpc.username">
        <button ng-click="fpc.getUserDetails()">Get security Question</button>
        <div ng-if="fpc.showDetails">
            <h4> Please answer the following security question: </h4>
            <div class="container">
                <label for="question"><b>Question </b></label> <br>
                <label for="question"><b>{{fpc.userDetails.question1}}</b></label>
                <input type="text" placeholder="Enter Answer" name="answer" required ng-model="fpc.answer1">
                <button ng-click="fpc.getPassword()">Submit</button>
            </div>
        </div>
        <div ng-if="fpc.showPassword">
            <h4>Here is your password: {{fpc.userDetails.password}}</h4>
        </div>
    </form>
    <h4> Back to Login page </h4> <button ng-click="fpc.backtoLogin()">Back</button>
</div>