<div class="jumbotron">
    <div class="container">
        <h1>User Details</h1> 
    </div>
</div>
<div id="divContainer" class="container">
    <form>

      <div class="container">
        <label for="uname"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required  ng-model="lac.username">

        <label for="uname"><b>Password</b></label>
        <input type="password" placeholder="Enter Username" name="uname" required  ng-model="lac.username">
        
        <label for="question">Select question:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
          </select>
        </label>
        <button type="submit">Submit</button>
      </div>

    </form>
</div>
